@use "variables" as vars;

.about {
  padding-top: vars.$space-lg;
  padding-bottom: vars.$space-xl;
  background-color: vars.$color-white;

  .about-container {
    max-width: vars.$max-width;
    margin: 0 auto;
    padding: 0 vars.$space-sm;
  }

  &__title {
    font-size: vars.$font-size-xxl;
    line-height: vars.$line-height-xl;
    margin-bottom: vars.$space-sm;
    text-align: center;
  }

  &__text {
    color: vars.$color-text;
    line-height: vars.$line-height-normal;
  }
}
