.about {
  padding-top: $space-lg;
  padding-bottom: $space-xl;
  background-color: $color-white;

  .about-container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $space-sm;
  }

  &__title {
    font-size: $font-size-xxl;
    line-height: $line-height-xl;
    margin-bottom: $space-sm;
  }

  &__text {
    color: $color-text;
    line-height: $line-height-normal;
  }
}
