@use "variables" as vars;

.footer {
  padding: vars.$space-sm 0;
  background-color: vars.$color-primary;
  color: vars.$color-white;

  &__bg {
    text-align: left;
    padding-top: vars.$space-lg;
    padding-bottom: vars.$space-sm;
  }

  &__sm {
    font-size: vars.$font-size-sm;
    line-height: vars.$line-height-sm;
    text-align: left;
    font-weight: 400;
    padding-bottom: vars.$space-lg;
  }
}
