.footer {
  padding: $space-sm 0;
  background-color: $color-primary;
  color: $color-white;

  &__bg {
    text-align: left;
    padding-top: $space-lg;
    padding-bottom: $space-sm;
  }

  &__sm {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    text-align: left;
    font-weight: 400;
    padding-bottom: $space-lg;
  }
}
