.header {
  background-color: $color-bg;
  padding: calc($space-xl - $space-sm) 0;
}

.navbar {
  margin-bottom: $space-xl + 2.125rem;

  &-list {
    @include flex-wrap;
    column-gap: $space-sm + 0.18rem;
    margin-left: -calc($space-sm / 2);
    list-style: none;

    &--active {
      display: block;
      line-height: $line-height-normal;
      position: relative;
      padding-top: 1em;
    }

    .nav__link {
      display: block;
      text-decoration: none;
      color: $color-black;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &:hover {
        color: $color-accent;
      }
    }
  }

  &__btn {
    position: relative;
    width: 30px;
    height: 22px;
    margin: 0;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }

  &__btn.active span:first-child {
    top: 9px;
    transform: rotate(135deg);
  }

  &__btn.active span:nth-child(2) {
    opacity: 0;
    transform: rotate(-30px);
  }

  &__btn.active span:nth-child(3) {
    top: 9px;
    transform: rotate(-135deg);
  }

  &__btn-row {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $color-primary;
    border-radius: 4px;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  &__btn-row:first-child {
    top: 0;
  }

  &__btn-row:nth-child(2) {
    top: 9px;
  }

  &__btn-row:last-child {
    top: 18px;
  }
}
