@use "variables" as var;

@mixin transition($properties) {
  transition: $properties;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin menu-position {
  top: 1.5em;
  left: 1.5em;
  z-index: 1000;
  @include transition(var.$transition-default);
}
