.project {
  background-color: $color-primary;
  color: $color-white;

  &__container {
    @include flex-wrap;
    justify-content: center;
    gap: $space-lg;
    padding: $space-xl 0;
  }

  &__item {
    display: flex;
    gap: $space-sm;
  }

  &__number {
    font-size: $font-size-lg;
  }
}
