@use "variables" as var;
@use "mixins";

.project {
  background-color: var.$color-primary;
  color: var.$color-white;

  &__container {
    @include mixins.flex-wrap;
    justify-content: center;
    gap: var.$space-lg;
    padding: var.$space-xl 0;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__item {
    display: flex;
    gap: var.$space-sm;
  }

  &__number {
    font-size: var.$font-size-lg;
  }
}
