.work {
  background-color: $color-bg;

  &__header {
    max-width: $max-width;
    margin: 0 auto;
    padding: $space-xl $space-lg $space-lg;
  }

  &__title {
    font-size: $font-size-md * 2;
    line-height: $line-height-lg;
    margin-bottom: $space-lg;
  }

  &__text {
    color: $color-text;
    line-height: $line-height-normal;
  }

  &__video {
    justify-content: center;
    padding-bottom: $space-xl;

    iframe {
      width: 100%;
      min-height: calc(100vw / 16 * 5);
    }
  }
}
