@use "variables" as var;

.work {
  background-color: var.$color-bg;

  &__header {
    max-width: var.$max-width;
    margin: 0 auto;
    padding: var.$space-xl var.$space-lg var.$space-lg;
  }

  &__title {
    font-size: calc(var.$font-size-md * 2);
    line-height: var.$line-height-lg;
    margin-bottom: var.$space-lg;
    text-align: center;
  }

  &__text {
    color: var.$color-text;
    line-height: var.$line-height-normal;
  }

  &__video {
    justify-content: center;
    padding-bottom: var.$space-xl;

    iframe {
      width: 100%;
      min-height: calc(100vw / 16 * 5);
    }
  }
}
