@import "variables";
@import "mixins";
@import "base";
@import "header";
@import "hero";
@import "about";
@import "project";
@import "work";
@import "footer";

@media screen and (max-width: 934px) {
  .navbar,
  .hero__title,
  .hero__text,
  .hero__btn,
  .about__title,
  .work-header__title {
    margin-bottom: 0.5em;
  }

  .hero__title {
    margin-top: 1em;
  }

  .hero__title,
  .about__title,
  .work-header__title {
    font-size: 2rem;
    line-height: $line-height-lg;
  }

  .header,
  .project__container,
  .about {
    padding: 1.5em;
  }

  .footer__bg,
  .footer__sm {
    padding: 0.5em;
  }

  .navbar-list {
    display: none;
  }
  .navbar-list--active {
    display: block;
  }

  .container {
    width: 80%;
  }

  .header {
    padding-top: 0.5em;
  }

  .navbar {
    margin-bottom: 3em;
  }

  .navbar__btn {
    position: absolute;
    @include menu-position();
  }

  .project {
    &__container {
      justify-content: center;
      gap: 2em;
    }
  }

  .work {
    &__header {
      padding: 1em;
    }

    &__title {
      margin-bottom: 0.5em;
    }

    &__video {
      padding-bottom: 1em;
    }
  }
}

@media screen and (min-width: 935px) {
  #burger {
    display: none;
  }
}
