* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 62%;
  margin: 0 auto;
  padding: 0 3%;
}

.header {
  background-color: #eeeff1;
  padding: 80px 0;
}

.navbar {
  margin-bottom: 134px;
}
.navbar-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 23px;
       column-gap: 23px;
  margin-left: -10px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .navbar-list {
    display: none;
    margin-top: 30px;
  }
}
.navbar-list--active {
  display: block;
}
.navbar-list .nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.navbar-list .nav__link:hover {
  color: #4949f3;
}
.navbar__btn {
  position: relative;
  width: 30px;
  height: 22px;
  margin: 0;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.navbar__btn.active span:first-child {
  top: 9px;
  transform: rotate(135deg);
}
.navbar__btn.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(-30px);
}
.navbar__btn.active span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}
.navbar__btn-row {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #34547a;
  border-radius: 4px;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar__btn-row:first-child {
  top: 0;
}
.navbar__btn-row:nth-child(2) {
  top: 9px;
}
.navbar__btn-row:last-child {
  top: 18px;
}
@media screen and (min-width: 768px) {
  .navbar__btn {
    display: none;
  }
}

.hero__title {
  font-size: 3rem;
  line-height: 4.92rem;
  margin-bottom: 60px;
}
.hero__text {
  margin-bottom: 65px;
  color: #727272;
  max-width: 540px;
}
.hero__btn {
  display: inline-block;
  min-width: 225px;
  min-height: 65px;
  text-decoration: none;
  text-align: center;
  background-color: #34547a;
  color: #ffffff;
  padding: 20px 2%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 141px;
  transition: 0.3s ease;
}
.hero__btn:hover {
  background-color: #446ca1;
}

.about {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.about__title {
  font-size: 2.5rem;
  line-height: 3.4rem;
  margin-bottom: 50px;
}
.about .about-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 3%;
}

.project {
  background-color: #34547a;
  color: #ffffff;
}
.project__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px 0;
}
.project__container__item {
  display: flex;
  gap: 20px;
}
.project__container__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work {
  background-color: #eeeff1;
}
.work .work-header {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 3% 50px;
}
.work .work-header__title {
  font-size: 2rem;
  line-height: 2.34rem;
  margin-bottom: 50px;
}
.work .work-header__text {
  color: #727272;
}
.work .work-video {
  justify-content: center;
  padding-bottom: 100px;
}
.work .work-video iframe {
  width: 100%;
  min-height: 31.25vw;
}

.footer {
  padding: 20px 0;
  background-color: #34547a;
  color: #ffffff;
}
.footer__bg {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer__sm {
  font-size: 0.8125rem;
  line-height: 1.3rem;
  text-align: left;
  font-weight: 400;
  padding-bottom: 50px;
}

@media screen and (max-width: 375px) {
  .navbar,
  .hero__title,
  .hero__text,
  .hero__btn,
  .about__title,
  .work-header__title {
    margin-bottom: 0.5em;
  }
  .hero__title {
    margin-top: 1em;
  }
  .hero__title,
  .about__title,
  .work-header__title {
    font-size: 2rem;
    line-height: normal;
  }
  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .header,
  .project__container,
  .about {
    padding: 1.5em;
  }
  .footer__bg,
  .footer__sm {
    padding: 0.5em;
  }
  .navbar__btn {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1000;
    transition: transform 0.3s ease;
  }
  .project .project__container {
    width: 100%;
    justify-content: center;
    gap: 2em;
  }
  .work .work-header {
    padding: 1em;
  }
  .work .work-header__title {
    margin-bottom: 0.5em;
  }
  .work .work-video {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
  }
}/*# sourceMappingURL=main.css.map */
