/* Base CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

/* GENERAL */
.container {
  width: 62%;
  margin: 0 auto;
  padding: 0 3%;
}

.hero__btn,
.hero__text,
.about__text,
.nav__link,
.work-header__text,
.footer__bg {
  line-height: 1.64rem;
}

h2,
h3,
.hero__btn,
.about__text,
.work-header {
  text-align: center;
}

.about__title,
.hero__title,
.footer__bg {
  font-weight: 500;
}

.project__number,
.footer__bg {
  font-size: 1.31rem;
}

/* HEADER */
.header {
  background-color: #eeeff1;
  padding: 80px 0;
}

/* NAVIGATION */
.navbar {
  margin-bottom: 134px;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  margin-left: -10px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .navbar-list {
    display: none;
    margin-top: 30px;
  }
}

.navbar-list--active {
  display: block;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar__link:hover {
  color: #4949f3;
}

.navbar__btn {
  position: relative;
  width: 30px;
  height: 22px;
  margin: 0;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.navbar__btn.active span:first-child {
  top: 9px;
  transform: rotate(135deg);
}

.navbar__btn.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(-30px);
}

.navbar__btn.active span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

.navbar__btn-row {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #34547a;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.navbar__btn-row:first-child {
  top: 0;
}

.navbar__btn-row:nth-child(2) {
  top: 9px;
}

.navbar__btn-row:last-child {
  top: 18px;
}

/* HERO */
.hero__title {
  font-size: 3rem;
  line-height: 4.92rem;
  margin-bottom: 60px;
}

.hero__text {
  margin-bottom: 65px;
  color: #727272;
  max-width: 540px;
}

.hero__btn {
  display: inline-block;
  min-width: 225px;
  min-height: 65px;
  text-decoration: none;
  background-color: #34547a;
  color: #ffffff;
  padding: 20px 2%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.3s all ease;
  margin-bottom: 141px;
}

.hero__btn:hover {
  background-color: #446ca1;
}

/* ABOUT */
.about {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.about__title {
  font-size: 2.5rem;
  line-height: 3.4rem;
  margin-bottom: 50px;
}

.about-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 3%;
}

/* PROJECT */
.project {
  background-color: #34547a;
  color: #ffffff;
}

.container .project__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  overflow-x: auto;
}

.project__item {
  display: flex;
  gap: 20px;
}

.project__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* WORK */
.work {
  background-color: #eeeff1;
}

.work-header {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 3% 50px;
}

.work-header__title {
  font-size: 2rem;
  line-height: 2.34rem;
  margin-bottom: 50px;
}

.work-header__text {
  color: #727272;
}

.work-video {
  justify-content: center;
  padding-bottom: 100px;
}

.work-video iframe {
  width: 100%;
}

/* FOOTER */
.footer {
  padding: 20px 0;
  background-color: #34547a;
  color: #ffffff;
}

.footer__bg {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer__sm {
  font-size: 0.8125rem;
  line-height: 1.3rem;
  text-align: left;
  font-weight: 400;
  padding-bottom: 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1920px) {
  .project__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    max-width: 611px;
  }

  .navbar__btn {
    display: none;
  }

  .hero__text {
    width: 540px;
  }

  .about {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .about-container {
    margin-bottom: 40px;
  }

  .project__container {
    justify-content: center;
    gap: 30px;
    padding: 50px 0;
  }

  .project__item {
    justify-content: center;
    flex-basis: 25%;
  }

  .work-header {
    padding: 60px 3% 40px;
  }

  .work-header__title {
    margin-bottom: 40px;
  }

  .work-video {
    padding-bottom: 60px;
  }

  .work-video iframe {
    height: 500px;
  }

  .footer {
    padding: 30px 0;
  }
}
